.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  flex-direction: column;
}

.task {
  height: 40px;
  line-height: 40px;
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
  background: #b3a7c8;
  font-size: 18px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task:first-child {
  margin-top: 0;
}

.removeIcon {
  cursor: pointer;
}
